<script src="/socket.io/socket.io.js"></script>
<script>
let itemsBox = document.querySelector('.itemsList')
let socket = io.connect('10.20.1.71:8080')

// Sends item to server when form in sent
document.querySelector('#send').addEventListener('click',(e)=>{
    e.preventDefault()
    let item = document.querySelector('#newtodo').value
    document.querySelector('#newtodo').value=''
    socket.emit('store',item)
})
        // Socket events
// When receiving an add order
socket.on('addOrder',(item)=>{
    elem = addFrag(item)
    itemsBox.appendChild(elem)
})
// When receiving a delete order
socket.on('deleteOrder',(index)=>{
    itemsBox.children[index].remove()
})

    // Functions
// Creates a doc fragment to insert in the DOM laer
function addFrag(item){
    let docFrag = document.createDocumentFragment()
    let listItem = document.createElement('li')
    let xBtn = document.createElement('span')
    xBtn.className = 'delete'
    xBtn.innerHTML = 'X'
    xBtn.addEventListener('click',(e)=>{
        arr = Array.from(itemsBox.children)
        index = arr.indexOf(e.target.parentNode)
        socket.emit('remove',index)
    })
    let content = document.createElement('p')
    content.className = 'content'
    content.innerHTML = item
    listItem.appendChild(xBtn)
    listItem.appendChild(content)
    docFrag.appendChild(listItem)
    return docFrag
}


</script>
</body>
</html>