<% include header %>

<h1>Todo List en temps réel</h1>
<form>
<label for="newtodo">Nouvelle entrée : </label>
<input type="text" name="newtodo" id="newtodo" autofocus/>
<input type="submit" id="send"/>
</form>
<ul class="itemsList">
</ul>
<% include footer %>