<% include header %>

<h1 class='ui center aligned icon header'>
    <i class='circular edit icon'></i>
    Real Time Interactive TodoList
</h1>
<div class="ui container">
    <div class="ui fluid icon input">
        <i class='write icon' id="send"></i>
        <input type="text" name="newtodo" id="newtodo" placeholder='New Todo Item' autofocus/>
    </div>
    <div class="ui segments">
    </div>
</div>
<% include footer %> 


