<% include header %>

    <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Chatbox
    </h2>   
    <div class="ui main container stackable two column grid">
        <div class="inp column">
            <form class="ui form">
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message"></textarea>
                </div>
                <button id='send' class="ui blue labeled sumbit icon button">
                    <i class="icon edit"></i>Submit
                </button>
            </form>
        </div>
        <div class="ui feed column">
        </div>
    </div>
<% include footer %>
